@import url(//fonts.googleapis.com/css?family=Noto+Sans:400,700|Playfair+Display:900);
@font-face {
  font-family: 'socicon';
  src: url('/fonts/socicon/socicon-webfont.eot');
  src: url('/fonts/socicon/socicon-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/socicon/socicon-webfont.woff') format('woff'), url('/fonts/socicon/socicon-webfont.woff2') format('woff2'), url('/fonts/socicon/socicon-webfont.ttf') format('truetype'), url('/fonts/socicon/socicon-webfont.svg#sociconregular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}
* {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
}
header,
section,
article,
aside,
address {
  display: block;
}
body {
  font-size: 16px;
}
h1 {
  margin: 0 0 24px 0;
  color: #000;
  font-family: Tienne,
                                Playfair Display,
                                Georgia,
                                Times New Roman,
                                Serif;
  font-size: 3em;
  font-weight: 900;
  line-height: 1.4em;
  border: solid #F1F1F1;
  border-width: 0 0 1px 0;
}
@media screen and (min-width: 520px) {
  h1 {
    color: #000;
    font-family: Tienne,
                                Playfair Display,
                                Georgia,
                                Times New Roman,
                                Serif;
    font-size: 4em;
    font-weight: 900;
    line-height: 1.4em;
  }
}
h2 {
  margin: 0 0 12px 0;
  color: #000;
  font-family: Tienne,
                                Playfair Display,
                                Georgia,
                                Times New Roman,
                                Serif;
  font-size: 1.8em;
  font-weight: 900;
  line-height: 1.4em;
  border: solid #F1F1F1;
  border-width: 0 0 1px 0;
}
header h2 {
  border: none;
  margin: 0 0 0 0;
  color: #000;
  font-family: Tienne,
                                Playfair Display,
                                Georgia,
                                Times New Roman,
                                Serif;
  font-size: 1.4em;
  font-weight: 900;
  line-height: 1.4em;
}
h3 {
  margin: 0 0 12px 0;
  color: #000;
  font-family: Tienne,
                                Playfair Display,
                                Georgia,
                                Times New Roman,
                                Serif;
  font-size: 1.4em;
  font-weight: 900;
  line-height: 1.4em;
  border: solid #F1F1F1;
  border-width: 0 0 1px 0;
}
h4 {
  margin: 0 0 12px 0;
  color: #000;
  font-family: Tienne,
                                Playfair Display,
                                Georgia,
                                Times New Roman,
                                Serif;
  font-size: 1em;
  font-weight: 900;
  line-height: 1.4em;
}
p {
  color: #000;
  font-family: Noto Sans, Helvetica, Arial, Sans-serif;
  font-size: 0.8em;
  font-wieght: 400;
  line-height: 1.4em;
  margin-bottom: 0.8em;
}
p.fn {
  margin: 0 0 12px 0;
  color: #000;
  font-family: Tienne,
                                Playfair Display,
                                Georgia,
                                Times New Roman,
                                Serif;
  font-size: 1em;
  font-weight: 900;
  line-height: 1.4em;
}
p.dates {
  color: #595959;
}
p.telephone {
  color: #000;
  font-family: Tienne,
                                Playfair Display,
                                Georgia,
                                Times New Roman,
                                Serif;
  font-size: 1em;
  font-weight: 900;
  line-height: 1.4em;
}
li {
  color: #000;
  display: block;
  font-family: Noto Sans, Helvetica, Arial, Sans-serif;
  font-size: 0.8em;
  font-wieght: 400;
  line-height: 1em;
  margin: 0 0 0.8em 0;
}
a {
  color: #333;
  font-weight: 700;
  text-decoration: none;
  transition: color ease-in-out 0.2s;
}
a:hover {
  color: #00F;
}
a.print {
  cursor: pointer;
}
address {
  font-style: normal;
}
.social li.fb a:before {
  color: #3B5998;
  content: 'b';
  font-family: 'socicon';
  margin-right: .5em;
  vertical-align: baseline;
}
.social li.in a:before {
  color: #007BB6;
  content: 'j';
  font-family: 'socicon';
  margin-right: .5em;
  vertical-align: baseline;
}
.social li.tw a:before {
  color: #00ACED;
  content: 'a';
  font-family: 'socicon';
  margin-right: .5em;
  vertical-align: baseline;
}
.social li.gh a:before {
  color: #000;
  content: 'Q';
  font-family: 'socicon';
  margin-right: .5em;
  vertical-align: baseline;
}
body {
  background-attachment: fixed;
  background-color: lightblue;
  background-image: url(../images/palm_bw.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#page {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYigwLCAwLCAzMCkiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9InJnYigxNzMsIDIxNiwgMjMwKSIgc3RvcC1vcGFjaXR5PSIwLjAwNSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 30, 0.8) 0%, rgba(173, 216, 230, 0.005) 50%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 30, 0.8) 0%, rgba(173, 216, 230, 0.005) 50%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 30, 0.8) 0%, rgba(173, 216, 230, 0.005) 50%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 30, 0.8) 0%, rgba(173, 216, 230, 0.005) 50%);
  padding: 12px 0 24px 0;
  text-align: center;
}
#page #content {
  margin: 0 auto;
  text-align: left;
  width: 90%;
  font-size: 0;
}
#page #content > * {
  font-size: 16px;
}
#page #content header {
  text-align: center;
  margin: 12px auto 24px auto;
  padding: 20px;
  background-color: #FFF;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 30, 0.8);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 30, 0.8);
  box-shadow: 2px 2px 5px rgba(0, 0, 30, 0.8);
}
#page #content .left-column {
  width: 100%;
  display: inline-block;
  *float: left;
  vertical-align: top;
}
#page #content .right-column {
  margin: 0 0 0 0;
  width: 100%;
  display: inline-block;
  *float: left;
  vertical-align: top;
}
@media screen and (min-width: 520px) {
  #page #content .left-column {
    width: calc(70% - 10px);
  }
  #page #content .right-column {
    margin: 0 0 0 20px;
    width: calc(30% - 10px);
  }
}
#page #content section.preamble,
#page #content section article {
  margin: 12px 0 24px 0;
  padding: 20px;
  background-color: #FFF;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 30, 0.8);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 30, 0.8);
  box-shadow: 2px 2px 5px rgba(0, 0, 30, 0.8);
}
#page #content aside {
  margin: 12px 0 24px 0;
  padding: 20px;
  background-color: #FFF;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 30, 0.8);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 30, 0.8);
  box-shadow: 2px 2px 5px rgba(0, 0, 30, 0.8);
}
#page #content aside img {
  margin: 0 0 12px 0;
  width: 100%;
}
#page #content aside ol li ol {
  margin: 4px 0 0 12px;
}
#page #content footer {
  margin: 0 0 24px 0;
  padding: 20px;
  background-color: #FFF;
}
