@import '_config.less';

*   {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    list-style: none;
}

header, section, article, aside, address {
    display: block;
}

h1  {
    margin: 0 0 24px 0;
    .headers(4em);
}

h2  {
    margin: 0 0 12px 0;
    .headers(1.8em);
}

header h2   {
    border: none;
    margin: 0 0 0 0;
    .headers(1.4em);
}

h3  {
    margin: 0 0 12px 0;
    .headers(1.4em);
}

h4  {
    margin: 0 0 12px 0;
    .headers(1em);
}

p   {
    .paragraphs();
}

p.fn    {
    margin: 0 0 12px 0;
    .headers(1em);
}

p.dates  {
    color: @medium-grey;
}

li  {
    .lists();
}

a   {
    color: @dark-grey;
    text-decoration: none;
}

address {
    font-style: normal;
}

#page   {
    text-align: center;
    padding: 0;

    #content    {
        margin: 0 auto;
        text-align: left;
        width: 100%;

        header {
            text-align: center;
            padding: @padding;
        }

        .left-column    {
            width: 100%;
        }

        .right-column   {
            width: 100%;
        }

        section {
            &.preamble,
            article {
                padding: @padding;
            }
        }

        aside   {
            &#social    {
                display: none;
            }

            padding: @padding;

            img {
                margin: 0 0 12px 0;
            }

            ol  {
                li  {
                    display: inline;
                }
            }
        }
    }
}
